body {
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(227, 10%, 46%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fff;
    width: 300px;
    height: 335px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.imagem img {
    border-radius: 50%;
}

.localizacao {
    padding-bottom: 25px;
}

.info {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(182, 182, 182);
}

.info p {
    flex: 0 1 100px;
}

.nome, .info strong {
    color: #000;
}